header {
  background-color: #166f87;
  display: flex;
  grid-area: header;
  margin-bottom: 0.5rem; }
  header:hover {
    transition: all 1s ease-in;
    background-color: #000000;
    color: red;
    width: 100%; }
  header a {
    text-decoration: none; }
  header .logo {
    border-radius: 100%;
    margin: 1rem;
    margin-left: 8rem; }
  header .firma {
    font-size: 9rem;
    width: 100%;
    margin-left: 12rem;
    margin-top: 1.5rem; }

nav {
  background-color: #166f87;
  display: flex;
  letter-spacing: 0.1rem;
  grid-area: barra;
  font-size: 2rem;
  text-align: center;
  justify-content: center; }
  nav ul ul {
    position: absolute;
    display: none;
    top: 26rem;
    left: 14rem;
    z-index: 1; }
    nav ul ul li {
      margin: 0.1rem;
      padding: 0.15rem; }
  nav ul li {
    list-style: none;
    margin: 0.6rem; }
    nav ul li:hover {
      background-color: #166f87; }
      nav ul li:hover ul {
        background-color: #166f87;
        display: inline-block;
        margin: -2.2rem;
        padding: 0rem;
        font-size: 1rem;
        z-index: 1; }
        nav ul li:hover ul:hover {
          background-color: #000000; }
  nav ul a {
    color: #6cd7f5;
    text-decoration: none; }
    nav ul a:hover {
      transition: all 0.5s ease-in;
      border-radius: 30%;
      background-color: #000000;
      color: red; }

.flex {
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  border-color: #6cd7f5;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  .flex .equipo {
    border: 100%;
    width: 12rem;
    border-radius: 80%;
    font-size: 1.5rem;
    margin: 0.1rem;
    padding: 0.1rem; }
    .flex .equipo:hover {
      transform: scale(1.2, 1.2); }

.table {
  margin-left: 10rem; }
  .table ol {
    text-decoration: none;
    list-style: none;
    color: #6cd7f5; }
  .table a {
    text-decoration: none;
    color: #91def3; }
    .table a:hover {
      background-color: #000000;
      border-radius: 30%;
      color: red;
      transition: all 0.5s ease-in; }

.cuerpo {
  grid-area: cuerpo;
  display: flex;
  flex-direction: row;
  background-color: #166f87; }
  .cuerpo .miVideo {
    margin-left: 13rem; }
  .cuerpo .logo2 {
    height: 20rem;
    width: 50rem;
    margin-left: 10rem; }
  .cuerpo .logo3 {
    height: 20rem;
    width: 40rem;
    margin-left: 14rem; }
  .cuerpo p {
    margin: 1.5rem; }
  .cuerpo .notfound {
    font-size: 5rem;
    margin-left: 20rem; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 18.75rem 18.75rem;
  gap: 10px; }
  .grid .grid1 {
    border: solid 0.1rem black;
    font-size: 1.9rem;
    padding: 0.32rem; }
    .grid .grid1 a {
      text-decoration: none;
      color: #166f87; }
      .grid .grid1 a:hover {
        background-color: black;
        border-radius: 30%;
        color: red;
        transition: all 0.5s ease-in; }
  .grid .acesoramiento {
    width: 220px;
    background-image: url(../Imagenes/asesoramiento.png); }
  .grid .capacitaciones {
    width: 220px;
    background-image: url(../Imagenes/capacitacion.png); }
  .grid .posventa {
    width: 220px;
    background-image: url(../Imagenes/posventa.png); }
  .grid .materiales {
    width: 220px;
    background-image: url(../Imagenes/materiales.png); }
  .grid .ventas {
    width: 220px;
    background-image: url(../Imagenes/ventas.png); }

.marcas {
  width: 100%;
  display: grid;
  gap: 10px;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; }

.mainGrids {
  width: 100%;
  display: grid;
  gap: 0.2rem;
  justify-items: center;
  grid-template-columns: 0.25fr 0.25fr;
  grid-template-rows: 11rem 11rem 11rem;
  margin: 0.1rem; }
  .mainGrids img:hover {
    border-radius: 50%;
    box-shadow: 0px 0px 15px 15px red;
    transform: scale(1.2, 1.2); }

.aside {
  grid-area: aside;
  background-color: #166f87; }
  .aside .musica {
    height: 3rem;
    width: 14rem; }

footer {
  grid-area: footer;
  background-color: #166f87;
  text-align: center; }
  footer:hover {
    background: radial-gradient(ellipse, #000000, #000000, #166f87);
    width: 100%; }
  footer ul {
    list-style: none; }
    footer ul li:hover {
      color: red; }

@media only screen and (max-width: 767px) {
  header {
    height: 6rem; }
  header .logo {
    margin-left: 1rem;
    height: 5rem;
    width: 5rem;
    margin: 1rem; }
  header .firma {
    font-size: 1.9rem;
    margin-top: 2rem;
    margin-left: 0.3rem; }
  .cuerpo .miVideo {
    margin-left: 0.5rem;
    height: false;
    width: 12rem;
    margin-top: 0;
    height: 7.55rem; }
  .cuerpo .logo2 {
    margin-left: 0rem;
    height: 8rem;
    width: 12.5rem; }
  .cuerpo .logo3 {
    margin-left: 0rem;
    height: 8rem;
    width: 12.5rem; }
  .cuerpo p {
    margin: 0.5rem; }
  .cuerpo .notfound {
    font-size: 5rem;
    margin-left: 20rem; }
  aside {
    display: none; }
  footer {
    font-size: 0.35rem;
    padding: 0;
    margin-top: 1rem; }
    footer ul {
      padding-left: 0rem; }
  textarea {
    width: 13.5rem; }
  nav {
    letter-spacing: 0rem;
    font-size: 1rem; }
    nav ul {
      margin: 0;
      padding: 0; }
      nav ul ul {
        top: 16rem;
        left: 5rem; }
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 5rem 5rem 5rem 5rem;
    padding: 0; }
    .grid .grid1 {
      padding: 0; }
  .flex {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    flex-direction: column;
    flex-wrap: wrap; }
  .marcas {
    display: block; }
  .mainGrids {
    display: block; }
    .mainGrids img {
      width: 13.5rem;
      margin-bottom: 0.3rem; }
  .table {
    margin-left: 0rem; }
    .table img {
      display: none; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    height: 6rem; }
  header .logo {
    margin-left: 1rem;
    height: 5rem;
    width: 5rem;
    margin: 1rem; }
  header .firma {
    font-size: 5rem;
    margin-top: 0.5rem;
    margin-left: 0.3rem; }
  .cuerpo .miVideo {
    margin-left: 0.5rem;
    height: false;
    width: 12rem;
    margin-top: 0;
    margin-left: 12rem;
    height: 7.55rem; }
  .cuerpo .logo2 {
    margin-left: 0rem;
    height: 8rem;
    width: 12.5rem;
    margin-left: 12rem; }
  .cuerpo .logo3 {
    margin-left: 0rem;
    height: 8rem;
    width: 12.5rem;
    margin-left: 12rem; }
  .cuerpo p {
    margin: 0.5rem; }
  .cuerpo .notfound {
    font-size: 5rem;
    margin-left: 20rem; }
  aside {
    display: none; }
  footer {
    font-size: 0.3rem;
    margin-top: 1rem; }
    footer ul {
      padding-left: 0rem; }
  textarea {
    width: 13.5rem; }
  nav {
    letter-spacing: 0rem;
    font-size: 1rem; }
    nav ul {
      margin: 0;
      padding: 0; }
      nav ul ul {
        top: 16rem;
        left: 5rem; }
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 5rem 5rem 5rem 5rem;
    padding: 0; }
    .grid .grid1 {
      padding: 0; }
  .flex {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    flex-direction: column;
    flex-wrap: wrap; }
  .marcas {
    display: block; }
  .mainGrids {
    display: block; }
    .mainGrids img {
      width: 13.5rem;
      margin-bottom: 0.3rem; }
  .table {
    margin-left: 0rem; }
    .table img {
      display: none; } }

@media only screen and (min-width: 1024px) {
  header .logo {
    margin-left: 1rem; }
  header .firma {
    font-size: 7rem;
    margin-left: 1.5rem; }
  .cuerpo .miVideo {
    margin-left: 0.5rem;
    width: 30rem; }
  .cuerpo .logo2 {
    margin-left: 0rem;
    width: 34rem; }
  .cuerpo .logo3 {
    margin-left: 0rem;
    width: 30rem; }
  .flex .equipo {
    width: 9.4rem; }
  .table {
    margin-left: 1rem; }
  aside img {
    width: 8.5rem; } }

@media only screen and (min-width: 1280px) {
  .marcas {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
  .mainGrids {
    grid-template-columns: 0.25fr 0.25fr 0.25fr;
    grid-template-rows: 11rem 11rem; }
  .aside {
    width: 10rem; }
    .aside .musica {
      width: 10rem; }
    .aside img {
      width: 10rem; }
  .cuerpo .miVideo {
    margin-left: 16.5rem;
    width: 30rem; }
  .cuerpo .logo2 {
    margin-left: 15rem;
    width: 34rem; }
  .cuerpo .logo3 {
    margin-left: 16.5rem;
    width: 30rem; }
  nav {
    justify-content: start; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #166f87; }
  body .aparecer {
    animation-duration: 4s;
    animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

main {
  color: #6cd7f5;
  background-color: #166f87;
  font-family: "Architects Daughter", cursive;
  display: grid;
  grid-template-areas: "header header header" "barra cuerpo aside" "footer footer footer"; }
