@mixin sizes ($ml, $hei, $wid){
    margin-left: $ml;
    height: $hei;
    width: $wid;
}
@mixin sizes1024-1280($ml, $wid){
    margin-left: $ml;
    width: $wid;
}
@media only screen and (max-width: 767px) {
        header{
            height: 6rem;
        }
        header .logo {
            @include sizes (1rem, 5rem, 5rem);
            margin: 1rem;
        }
        header .firma {
            font-size: 1.9rem;
            margin-top: 2rem;
            margin-left: 0.3rem;
        }
        .cuerpo{
            .miVideo {
                @include sizes (0.5rem,false , 12rem);
                margin-top: 0;
                height: 7.55rem;
            }
            .logo2 {
                @include sizes (0rem, 8rem, 12.5rem);
            }
            .logo3 {
                @include sizes (0rem, 8rem, 12.5rem);
            }
            p{
                margin: 0.5rem;
            }
            .notfound{
                font-size: 5rem;
                margin-left: 20rem;
            }
        }
        aside{
            display: none;
        }
        footer{
            font-size: 0.35rem;
            padding: 0;
            margin-top: 1rem;
            ul{
                padding-left: 0rem;
            }
    }
    textarea {
        width: 13.5rem;
    }
    nav{
        letter-spacing: 0rem;
        font-size: 1rem;
        ul{
            margin: 0;
            padding: 0;
            ul{
                top: 16rem;
                left: 5rem;
            }
        }
    }
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 5rem 5rem 5rem 5rem 5rem;
        padding: 0;
        .grid1{
            padding: 0;
        }
    }
    .flex {
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-left: 0rem;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .marcas{
        display: block;
    }
    .mainGrids{
        display: block;
        img{
            width: 13.5rem;
            margin-bottom: 0.3rem;
        }
    }
    .table {
        margin-left: 0rem;
        img{
            display: none;
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    header{
        height: 6rem;
    }
    header .logo {
        @include sizes (1rem, 5rem, 5rem);
        margin: 1rem;
    }
    header .firma {
        font-size: 5rem;
        margin-top: 0.5rem;
        margin-left: 0.3rem;
    }
    .cuerpo{
        .miVideo {
            @include sizes (0.5rem,false , 12rem);
            margin-top: 0;
            margin-left: 12rem;
            height: 7.55rem;
            
        }
        .logo2 {
            @include sizes (0rem, 8rem, 12.5rem);
            margin-left: 12rem;
        }
        .logo3 {
            @include sizes (0rem, 8rem, 12.5rem);margin-left: 12rem;        }
        p{
            margin: 0.5rem;
        }
        .notfound{
            font-size: 5rem;
            margin-left: 20rem;
        }
    }
    aside{
        display: none;
    }
    footer{
        font-size: 0.3rem;
        margin-top: 1rem;
        ul{
            padding-left: 0rem;
        }
}
textarea {
    width: 13.5rem;
}
nav{
    letter-spacing: 0rem;
    font-size: 1rem;
    ul{
        margin: 0;
        padding: 0;
        ul{
            top: 16rem;
            left: 5rem;
        }
    }
}
.grid {
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 5rem 5rem 5rem 5rem;
    padding: 0;
    .grid1{
        padding: 0;
    }
}
.flex {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    flex-direction: column;
    flex-wrap: wrap;
}
.marcas{
    display: block;
}
.mainGrids{
    display: block;
    img{
        width: 13.5rem;
        margin-bottom: 0.3rem;
    }
}
.table {
    margin-left: 0rem;
    img{
        display: none;
    }
}
}
@media only screen and (min-width: 1024px) {
    header{
        .logo{
            margin-left: 1rem;
        }
        .firma{
            font-size: 7rem;
            margin-left: 1.5rem;
        }
    }
    .cuerpo{
        .miVideo {
            @include sizes1024-1280 (0.5rem, 30rem);
        }
        .logo2 {
            @include sizes1024-1280 (0rem, 34rem);
        }
        .logo3 {
            @include sizes1024-1280 (0rem, 30rem);
        }
    }
    .flex {
        .equipo {
            width: 9.4rem;
        }
    }
    .table {
        margin-left: 1rem; 
    }
    aside{
        img{
            width: 8.5rem;
        }
    }
}
@media only screen and (min-width: 1280px) {
    .marcas{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .mainGrids{
        grid-template-columns: 0.25fr 0.25fr 0.25fr;
        grid-template-rows: 11rem 11rem;
    }
    .aside{
        width:10rem;
        .musica{
            width: 10rem;
        }
        img{
            width: 10rem;
        }
    }
    .cuerpo{
        .miVideo {
            @include sizes1024-1280 (16.5rem, 30rem);
        }
        .logo2 {
            @include sizes1024-1280 (15rem, 34rem);
        }
        .logo3 {
            @include sizes1024-1280 (16.5rem, 30rem);
        }
    }
    nav{
        justify-content: start;
    }
}