@mixin min ($gri,$back){
    grid-area: $gri;
    background-color: $back;
}
.aside{
    @include min (aside,$bgGral);
    .musica {
        height: 3rem;
        width: 14rem;
    }
    
}
footer{
    @include min (footer,$bgGral);
    text-align: center;
    margin-top: 2rem;
    &:hover{
        background: radial-gradient(ellipse,$bgHover,$bgHover, $bgGral);
        width: 100%;
    }
    ul{
        list-style: none;
        li{
        &:hover{
            color: $colorHover;
            
            }
        }
    }
}