@mixin log ($hei, $wid){
    height:$hei ;
    width: $wid;
}
.cuerpo{
    grid-area: cuerpo;
    display: flex;
    flex-direction: row;
    background-color: $bgGral;
    .center{
        text-align: center;
    }
    .miVideo {
        margin-left: 13rem;
    }
    .logo2 {
        @include log(20rem,50rem);
        margin-left: 10rem;
    }
    .logo3 {
        @include log(20rem,40rem);
        margin-left: 14rem;
    }
    p{
        margin: 1.5rem;
    }
    .notfound{
        font-size: 5rem;
        margin-left: 20rem;
    }
}