.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 18.75rem 18.75rem;
    gap: 10px;
    .grid1 {
        border: solid 0.1rem black;
        font-size: 2rem;
        padding: 0.32rem;
        a{
            text-decoration: none;
            color: #6cd7f5;
            &:hover{
                background-color: black;
                border-radius: 30%;
                color: red;
                transition: all 0.5s ease-in;
            }
        }
    }
    .acesoramiento {
        width: 220px;
        background-image: url(../Imagenes/asesoramiento.png);
    }
    .capacitaciones {
        width: 220px;
        background-image: url(../Imagenes/capacitacion.png);
    }
    .posventa {
        width: 220px;
        background-image: url(../Imagenes/posventa.png);
    }
    .materiales {
        width: 220px;
        background-image: url(../Imagenes/materiales.png);
    }
    .ventas {
        width: 220px;
        background-image: url(../Imagenes/ventas.png);
    }
}