@import"colores";
@mixin resume ($bg,$dis){
    background-color: $bg;
    display: $dis;
}
header{
    @include resume($bgGral,flex );
    grid-area: header;
    margin-bottom: 0.5rem;
    &:hover{
        transition: all 1s ease-in;
        background-color: $bgHover;
        color:$colorHover;
        width: 100%;
    }
    
    a{
        text-decoration: none;
    }
    .logo{
        border-radius: 100%;
        margin: 1rem;
        margin-left: 8rem;
        
    }
    .firma{
        font-size: 9rem;
        width: 100%;
        margin-left: 12rem;
        margin-top: 1.5rem;
    }
}
nav{
    @include resume($bgGral,flex );
    letter-spacing: 0.1rem;
    grid-area:barra;
    font-size: 2rem;
    text-align: center;      
    justify-content: center;
    ul{
        ul{
            position: absolute;
            display: none;
            top: 26rem;
            left: 14rem;
            z-index: 1;
            li{
                margin: 0.1rem;
                padding: 0.15rem;
            }
        }
        li{
            
            list-style: none;
            margin: 0.6rem;
            &:hover{
                background-color: $bgGral;
                ul{
                    @include resume($bgGral,inline-block );
                    margin: -2.2rem;
                    padding: 0rem;
                    font-size: 1rem;
                    z-index: 1;
                    &:hover{
                        background-color:$bgHover;
                    }
                }
            }
        }
        a{
            color: #6cd7f5;
            text-decoration: none;
            &:hover{
                transition: all 0.5s ease-in;
                border-radius: 30%;
                background-color: $bgHover;
                color: $colorHover;
            }
        }
    }
}