@mixin varios($wid, $dis, $gap, $justi){
    width: $wid;
    display: $dis;
    gap: $gap;
    justify-items: $justi;
}
.marcas{
    @include varios(100%, grid,10px,center);
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.mainGrids {
    @include varios(100%, grid,0.2rem,center);
    grid-template-columns: 0.25fr 0.25fr;
    grid-template-rows: 11rem 11rem 11rem;
    margin: 0.1rem;
            img{
                &:hover{
                    border-radius: 50%;
                    box-shadow: 0px 0px 15px 15px red;
                        transform: scale(1.2, 1.2);
                }
            }
}