@import "header";
@import "flexTable";
@import"cuerpo";
@import"grid";
@import"marcas";
@import"asideFooter";
@import"colores";
@import"@queries";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $bgGral;
    .aparecer{
        animation-duration:4s;
        animation-name: aparecer;
    }
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
main{
    color: $text;
    background-color: $bgGral;
    font-family:"Architects Daughter", cursive;
    display: grid;
    grid-template-areas:
        "header header header"
        "barra cuerpo aside"
        "footer footer footer";
        
}